$wrapper-bg: #fff;
$wrapper-dark-background: false;

// If you uncomment below. Comment out the above. 
// $wrapper-bg: #444;
// $wrapper-dark-background: true;

$trail-color: #41B6E6 !default;
$trail-width: 15px;
$neutron-color: #007db8;

$trail-width: 15px;
$logo-width: 60px;
$logo-height: 60px;
$logo-glow: #fff !default;
$logo: "https://files-manywho-com.s3.amazonaws.com/5a98a1f9-d884-4d1b-8fa3-c984306cd504/Dell_Logo_Blue_rgb-300x300.png";



@if $wrapper-dark-background == false {
  $logo-glow: #41B6E6;
	$trail-color: #41B6E6;
	
} @else if $wrapper-dark-background == true {
	$logo-glow: #fff;
  $trail-color: #41B6E6;
}
 	
	








%particleBase {
	border-radius: 50%;
	transform-style: preserve-3d; // require of neutrons 
	transform: rotateX(80deg) rotateY(20deg);
	z-index: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -179px;
	margin-top: -170px;
}

%particleTrail {
	max-width: 100%;
	width: 350px;
	height: 350px;
	position: relative;
	transform-style: preserve-3d;
	animation: trailAnimation 2s infinite linear;
	box-shadow: 4px 4px $trail-width $trail-color;
	border-radius: 100%;
	z-index:0;

	&:after {
		content: "";
		position: absolute;
		box-shadow: 0 0 12px #fff;
		left: 50%;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: $neutron-color;
		animation: particleAnimation 1s infinite linear;
	}
}


%logo {
	vertical-align: middle;
	border: 4px solid #fff;
	background: url($logo) no-repeat;
	background-size: cover;
	background-position: center;
	background-color:#fff;
	margin-left:auto; margin-right:auto;
	border-radius: 360px;
	width: $logo-width;
	height: $logo-height;
	text-align: center;
	position: absolute;
	top:50%;
	left:0; right:0;
	margin-top: -$logo-height / 2;
	z-index: 100;
}


.load-logo {
	@extend %logo;
	animation: glow 1.53s infinite ease-in-out;
}


.load-wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	overflow:hidden;
	background:$wrapper-bg;
}


.load-atom-wrapper {
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	width:100vh;
	height:100vh;

	> .particle {
		@extend %particleBase;
		&.two {
			transform: rotateX(-80deg) rotateY(20deg);

			> .trail,
			> .trail:after {
				animation-delay: -0.5s;
			}
		}
		&.three {
			transform: rotateX(-70deg) rotateY(60deg);

			> .trail,
			> .trail:after {
				animation-delay: -1s;
			}
		}
		&.four {
			transform: rotateX(70deg) rotateY(60deg);

			> .trail,
			> .trail:after {
				animation-delay: -1.5s;
			}
		}

		> .trail {
			@extend %particleTrail;
		}
	}
}


@keyframes glow {
	0%,
	100% {
		box-shadow: 0 0 0 transparent;

	}
	60% {
		box-shadow: 0 0 10px $logo-glow;

	}

}
@keyframes trailAnimation {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes particleAnimation {
	0% {
		transform: rotateX(90deg) rotateY(0deg);
	}
	100% {
		transform: rotateX(90deg) rotateY(-360deg);
	}
}
